.header{
    width:100%;
    justify-content: center;
    align-content: center;
    display: flex;
    background:url(assets/images/header-bg-image.jpg);
    height:880px;
    background-size:cover;
    background-repeat: no-repeat;
}
.navigation{
    position:relative;
    height: 95px;
    width:100%;
    border-bottom:1px solid #d3d3d3;
    padding-bottom: 18px;
    padding-top:10px;
}
.logo-container{
    position:relative;
    width:400px;
    left:14%;
}
.logo-inner-container{
    position:absolute;
    width:130px;
    margin:0 auto;
    padding:10px 10px 10px 10px;
    box-sizing:border-box;
}
.digital-agency-h3{
    display:none !important;
}
.digital-agency-link-container{
    position:relative;
    height:95px;
    width:100%;
    padding-top:20px;
}
.digital-agency-link-ul{
    float:right;
    width:59%;
    padding-top:20px;
    position:relative;
    list-style-type: none;
    right:10%;
    display:block;
}
.digital-agency-link-li{
    display:inline;
    color:#fff !important;
    font-family:'Myriad Pro', sans-serif;
    padding-right:45px;
}
.digital-agency-link-li > a{
    color:#fff !important;
    text-decoration:none !important;
}
.digital-agency-link-social-media{
    float:right;
    left:77%;
    position:absolute;
    padding-top:12px;
    display: block;
}
.header-content-wrapper{
  height: 100%;
  width:100%;
  position:absolute;
  align-content:center;
  display:flex;
  text-align:center;
  align-items: center;
  margin:auto;
}
.header-content-container{
  position:absolute;
  height:100%;
  width:100%;
  text-align: center;
  top:250px;
}
.header-content-h6{
  font-family:'Arial', sans-serif;
  font-weight:bold;
  color:#fff !important;
  font-size:10rem;
  text-transform:uppercase;
  text-align:center;
}
.scroll-container{
  position:absolute;
  height:100%;
  width:100%;
  text-align:center;
  top:550px;
}
.scroll-container-text{
  color:#fff !important;
  font-family:'Open Sans', sans-serif;
  padding-bottom:10px;
}
