/***Header***/
.header{
    width:100%;
    justify-content: center;
    align-content: center;
    display: flex;
    background:url(assets/images/header-bg-image.jpg);
    height:880px;
    background-size:cover;
    background-repeat: no-repeat;
}
.navigation{
    position:relative;
    height: 95px;
    width:100%;
    border-bottom:1px solid #d3d3d3;
    padding-bottom: 18px;
    padding-top:10px;
}
.logo-container{
    position:relative;
    width:400px;
    left:14%;
}
.logo-inner-container{
    position:absolute;
    width:130px;
    margin:0 auto;
    padding:10px 10px 10px 10px;
    box-sizing:border-box;
}
.digital-agency-h3{
    display:none !important;
}
.digital-agency-link-container{
    position:relative;
    height:95px;
    width:100%;
    padding-top:20px;
}
.digital-agency-link-ul{
    float:right;
    width:59%;
    padding-top:20px;
    position:relative;
    list-style-type: none;
    right:10%;
    display:block;
}
.digital-agency-link-li{
    display:inline;
    color:#fff !important;
    font-family:'Myriad Pro', sans-serif;
    padding-right:45px;
}
.digital-agency-link-li > a{
    color:#fff !important;
    text-decoration:none !important;
}
.digital-agency-link-social-media{
    float:right;
    left:77%;
    position:absolute;
    padding-top:10px;
    display: block;
}
.header-content-wrapper{
  height: 100%;
  width:100%;
  position:absolute;
  align-content:center;
  display:flex;
  text-align:center;
  align-items: center;
  margin:auto;
}
.header-content-container{
  position:absolute;
  height:100%;
  width:100%;
  text-align: center;
  top:250px;
}
.header-content-h6{
  font-family:'Arial', sans-serif;
  font-weight:bold;
  color:#fff !important;
  font-size:10rem;
  text-transform:uppercase;
  text-align:center;
}
.scroll-container{
  position:absolute;
  height:100%;
  width:100%;
  text-align:center;
  top:550px;
}
.scroll-container-text{
  color:#fff !important;
  font-family:'Open Sans', sans-serif;
  padding-bottom:10px;
}
/***End Header***/
/***About***/
.about-main-container{
  width:100%;
  height:740px;
  background-color:#11749e;
  align-content:center;
  display:flex;
  text-align:center;
  align-items:center;
  margin:auto;
}
.about-main-container-wrapper{
  height:100%;
  width:100%;
  position:relative;
  text-align:center;
  margin:auto;
}
.about-heading-container{
  width:100%;
  height:100%;
  position:absolute;
  top:-85px;
}
.about-heading-container-w{
  width:100%;
  height:60%;
  position:absolute;
  text-align: center;
  margin:auto;
  top:7%;
}
.about-w{
  color:#3c8daf;
  font-size:15rem;
  text-transform:uppercase;
  font-family:'Roboto', sans-serif;
}
.about-title-container{
  width:100%;
  height:10%;
  position:absolute;
  top:23%;
  margin:auto;
  text-align:center;
}
.about-title{
  color:#fff;
  font-size:1.5rem;
  text-transform: uppercase;
  font-family:'Roboto', sans-serif;
  letter-spacing: 5px;
}
.features-container{
  margin:0 auto;
  width:80%;
  height:100%;
  text-align:center;
  align-content:center;
  display:flex;
  position:relative;
  top:45%;
}
.features-section{
  padding:10px 30px 10px 30px;
  height:45%;
  width:100%;
}
.feature-section-image{
  padding-bottom:30px;
}
.feature-section-title{
  padding-bottom:30px;
}
.feature-title{
  color:#fff !important;
  text-transform:uppercase;
  font-family:'Roboto',sans-serif;
  font-size:14px;
  letter-spacing:3px;
}
.feature-content-container{
  width:100%;
  height:40%;
  padding:5px 20px 5px 5px;
  position:relative;
}
.feature-content{
  color:#fff !important;
  font-family:'Roboto',sans-serif;
  font-size:14px;
  letter-spacing:2px;
}
/***End About***/
