/***Header***/
.header{
    width:100%;
    justify-content: center;
    align-content: center;
    display: flex;
    background:url(assets/images/header-bg-image.jpg);
    height:880px;
    background-size:cover;
    background-repeat: no-repeat;
}
.navigation{
    position:relative;
    height: 95px;
    width:100%;
    border-bottom:1px solid #d3d3d3;
    padding-bottom: 18px;
    padding-top:10px;
}
.logo-container{
    position:relative;
    width:400px;
    left:14%;
}
.logo-inner-container{
    position:absolute;
    width:130px;
    margin:0 auto;
    padding:10px 10px 10px 10px;
    box-sizing:border-box;
}
.digital-agency-h3{
    display:none !important;
}
.digital-agency-link-container{
    position:relative;
    height:95px;
    width:100%;
    padding-top:20px;
}
.digital-agency-link-ul{
    float:right;
    width:59%;
    padding-top:20px;
    position:relative;
    list-style-type: none;
    right:10%;
    display:block;
}
.digital-agency-link-li{
    display:inline;
    color:#fff !important;
    font-family:'Myriad Pro', sans-serif;
    padding-right:45px;
}
.digital-agency-link-li > a{
    color:#fff !important;
    text-decoration:none !important;
}
.digital-agency-link-social-media{
    float:right;
    left:77%;
    position:absolute;
    padding-top:10px;
    display: block;
}
.header-content-wrapper{
  height: 100%;
  width:100%;
  position:absolute;
  align-content:center;
  display:flex;
  text-align:center;
  align-items: center;
  margin:auto;
}
.header-content-container{
  position:absolute;
  height:100%;
  width:100%;
  text-align: center;
  top:250px;
}
.header-content-h6{
  font-family:'Arial', sans-serif;
  font-weight:bold;
  color:#fff !important;
  font-size:10rem;
  text-transform:uppercase;
  text-align:center;
}
.scroll-container{
  position:absolute;
  height:100%;
  width:100%;
  text-align:center;
  top:550px;
}
.scroll-container-text{
  color:#fff !important;
  font-family:'Open Sans', sans-serif;
  padding-bottom:10px;
}
/***End Header***/
/***About***/
.about-main-container{
  width:100%;
  height:740px;
  background-color:#11749e;
  align-content:center;
  display:flex;
  text-align:center;
  align-items:center;
  margin:auto;
}
.about-main-container-wrapper{
  height:100%;
  width:100%;
  position:relative;
  text-align:center;
  margin:auto;
}
.about-heading-container{
  width:100%;
  height:100%;
  position:absolute;
  top:-85px;
}
.about-heading-container-w{
  width:100%;
  height:60%;
  position:absolute;
  text-align: center;
  margin:auto;
  top:7%;
}
.about-w{
  color:#3c8daf;
  font-size:15rem;
  text-transform:uppercase;
  font-family:'Roboto', sans-serif;
}
.about-title-container{
  width:100%;
  height:10%;
  position:absolute;
  top:23%;
  margin:auto;
  text-align:center;
}
.about-title{
  color:#fff;
  font-size:1.5rem;
  text-transform: uppercase;
  font-family:'Roboto', sans-serif;
  letter-spacing: 5px;
}
.features-container{
  margin:0 auto;
  width:80%;
  height:100%;
  text-align:center;
  align-content:center;
  display:flex;
  position:relative;
  top:45%;
}
.features-section{
  padding:10px 30px 10px 30px;
  height:45%;
  width:100%;
}
.feature-section-image{
  padding-bottom:30px;
}
.feature-section-title{
  padding-bottom:30px;
}
.feature-title{
  color:#fff !important;
  text-transform:uppercase;
  font-family:'Roboto',sans-serif;
  font-size:14px;
  letter-spacing:3px;
}
.feature-content-container{
  width:100%;
  height:40%;
  padding:5px 20px 5px 5px;
  position:relative;
}
.feature-content{
  color:#fff !important;
  font-family:'Roboto',sans-serif;
  font-size:14px;
  letter-spacing:2px;
}
/***End About***/
/***News Section***/
.news-section-container{
  width:100%;
  height:890px;
  position:relative;
}
.first-news-section{
  width:100%;
  height:326px;
  position:relative;
  display: flex;
}
.first-news-content-section{
  width:50%;
  height:448px;
  background:#222;
  position:relative;
}
.first-news-content-wrapper{
  margin:auto;
  position:relative;
  text-align:center;
  display:inline-block;
  padding:80px 30px;
  height:287px;
}
.first-news-published-container{
  margin:auto;
  width:91%;
  text-align:left;
  display:block;
  padding-bottom:15px;
  height:20px;
  padding-left:45px;
}
.first-news-published{
  color:#fff !important;
  font-size:1rem;
  font-family:'Roboto',sans-serif;
  letter-spacing:1.5px;
}
.first-news-title-container{
  margin:auto;
  width:91%;
  text-align:left;
  display:block;
  padding-bottom:15px;
  height:20px;
  padding-left:45px;
}
.first-news-title{
  color:#fff !important;
  font-size:1rem;
  text-transform:uppercase;
  font-family:'Roboto',sans-serif;
  letter-spacing:1.5px;
}
.first-news-image-container{
  width:50%;
  max-width: 50%;
  height:448px;
}
.first-news-image{
  width:100%;
  max-width:100%;
  height:448px;
}
.first-news-container{
  margin:auto;
  width:89%;
  text-align:left;
  display:block;
  padding:20px 50px 20px 50px;
}
.first-news-content{
  color:#fff !important;
  font-size:1rem;
  font-family:'Roboto',sans-serif;
  letter-spacing:2px;
}
.second-news-section{
  width:100%;
  height:326px;
  top:13%;
  position:relative;
  display: flex;
}
.second-news-content-section{
  width:50%;
  height:448px;
  background:#f3f3f3;
  position:relative;
}
.second-news-published{
  color:#222 !important;
  font-size:1rem;
  font-family:'Roboto',sans-serif;
  letter-spacing:1.5px;
}
.second-news-title{
  color:#222 !important;
  font-size:1rem;
  text-transform:uppercase;
  font-family:'Roboto',sans-serif;
  letter-spacing:1.5px;
}
.second-news-content{
  color:#222 !important;
  font-size:1rem;
  font-family:'Roboto',sans-serif;
  letter-spacing:2px;
}
/***End News Section***/
/***Blog Section***/
.blog-container{
  position:relative;
  height:900px;
  width:100%;
}
.blog-container-wrapper{
  text-align:center;
  margin:0 auto;
  position:relative;
  width:100%;
  height:100%;
  display:block;
}
.blog-heading-container{
  width:100%;
  height:28%;
  top:5%;
  position:relative;
}
.blog-heading-h1{
  color:#d7d7d7;
  text-transform:uppercase;
  font-family:'Roboto',sans-serif;
  font-size:15rem;
}
.blog-inner-heading-container{
  width:100%;
  height:10%;
  position:absolute;
  text-align:center;
  top:34%;
}
.blog-inner-heading{
  font-size:2rem;
  font-family:'Roboto',sans-serif;
  text-transform:uppercase;
  letter-spacing: 5px;
}
.blog-second-heading-container{
  width:100%;
  height:5%;
  position:relative;
  text-align:center;
}
.blog-second-heading{
  font-size:1.3rem;
  font-family:'Roboto',sans-serif;
  letter-spacing: 2px;
  font-weight: 300;
}
.blog-section-container{
  margin:0 auto;
  width:80%;
  height:100%;
  display:flex;
  align-content:center;
  text-align:center;
  position:relative;
  top:4%;
}
.blog-section-right-spacing{
  padding-right:22px;
}
.blog-first-section-title-container{
  padding-top:30px;
  padding-bottom:10px;
}
.blog-second-section-title-container{
  padding-top:27px;
  padding-bottom:10px;
}
.blog-third-section-title-container{
  padding-top:31px;
  padding-bottom:10px;
}
.blog-first-section-title{
  color:#11749e;
  text-transform:uppercase;
  font-family:'Roboto',sans-serif;
  letter-spacing:1.5px;
  font-weight:600;
}
.blog-first-content-container{
  padding-top:10px;
  padding-left:25px;
  padding-right:25px;
}
.blog-first-content{
  color:#222;
  font-family:'Roboto',sans-serif;
}
/***End Blog Section***/
/***Quick Actions Section***/
.quick-actions-container{
  position:relative;
  width:100%;
  height:358px;
  background:#11749e;
}
.quick-actions-wrapper{
  text-align:center;
  margin:0 auto;
  position:relative;
  width:80%;
  height:100%;
  padding-top:80px;
  padding-bottom:120px;
  display:flex;
  align-content:center;
}
.first-quick-actions-container{
  width:100%;
  height:60%;
  position:relative;
  padding-left:80px;
}
.second-quick-actions-container{
  width:100%;
  height:60%;
  position: relative;
}
.first-quick-actions-picture-container{
  width:20%;
  position:absolute;
}
.first-quick-actions-content-container{
  width:60%;
  position:absolute;
  top:3%;
  padding-left:20%;
}
.first-quick-actions-h6{
  color:#fff;
  font-family:'Roboto',sans-serif;
  letter-spacing:2px;
  font-weight: 400;
}
/***End Quick Actions Section***/
