$center-alignment:center;
$relative-position:relative;
$uppercase-letter:uppercase;
$roboto-font:'Roboto',sans-serif;

.key-feature-section{
  background:url(assets/images/key-feature-bg-image.jpg);
  background-size:cover;
  background-repeat:no-repeat;
  justify-content:$center-alignment;
  align-content: $center-alignment;
  display:flex;
}
.key-feature-wrapper{
  align-content:$center-alignment;
  display:flex;
  justify-content: $center-alignment;
  width:70%;
}
.feature-section{
  top:20%;
  position:$relative-position;
  width:70%;
  height:50%;
}
.title-feature-container{
  padding-bottom:30px;
  padding-top:30px;
  padding-right:30px;
}
.title-h4{
  color:#fff;
  font-size:1.5rem;
  text-transform:$uppercase-letter;
  font-family:$roboto-font;
  font-weight:500;
}
.content-feature-container{
  width:80%;
  padding-bottom:30px;
}
.content-h6{
  color:#fff;
  font-size:1rem;
  font-family:$roboto-font;
  font-weight:500;
  letter-spacing:2px;
  line-height: 1.5;
}
.first-feature-container{
  width:60%;
  padding-bottom:30px;
  height:15px;
  background:#11749e;
}
.first-feature-text{
  padding-left:20px;
  color:#fff;
  font-family: $roboto-font;
  text-transform: $uppercase-letter;
  padding-top:14px;
  font-weight:600;
  font-size:1rem;
  letter-spacing: 2px;
}
.second-feature-container{
  padding-top:15px;
  width:75%;
  background:#11749e;
  top:6%;
  position:$relative-position;
  height:15px;
  padding-bottom:15px;
}
.second-feature-text{
  padding-left:20px;
  color:#fff;
  font-family:$roboto-font;
  font-size:1rem;
  text-transform: $uppercase-letter;
  letter-spacing: 2px;
  font-weight: 600;
}
.third-feature-container{
  padding-top:15px;
  background:#11749e;
  width:85%;
  top:12%;
  position:$relative-position;
  padding-bottom:15px;
}
.third-feature-text{
  padding-left:20px;
  color:#fff;
  font-family:$roboto-font;
  text-transform:$uppercase-letter;
  letter-spacing:2px;
  font-weight: 600;
  font-size: 1rem;
}
.mobile-phone-container{
  height:auto;
  position:$relative-position;
  top:15%;
}
.mobile-phone{
  height:auto;
  max-height: 77%;
}