$relative-position:relative;
$full-content-width:100%;

.quick-actions-container{
  position:$relative-position;
  width:$full-content-width;
  height:358px;
  background:#11749e;
}
.quick-actions-wrapper{
  text-align:center;
  margin:0 auto;
  position:$relative-position;
  width:85%;
  height:$full-content-width;
  padding-top:80px;
  padding-bottom:120px;
  display:flex;
  align-content:center;
}
.first-quick-actions-container{
  width:$full-content-width;
  height:60%;
  position:$relative-position;
  padding-left:60px;
}
.second-quick-actions-container{
  width:$full-content-width;
  height:60%;
  position: $relative-position;
}
.first-quick-actions-picture-container{
  width:20%;
  position:absolute;
}
.first-quick-actions-content-container{
  width:60%;
  position:absolute;
  top:3%;
  padding-left:20%;
}
.first-quick-actions-h6{
  color:#fff;
  font-family:'Roboto',sans-serif;
  letter-spacing:2px;
  font-weight: 400;
}