$full-display-content:100%;
$relative-position:relative;
$centered-position:center;
$uppercase-letter:uppercase;
$roboto-font:'Roboto',sans-serif;

.teams-section{
  height:945px;
  width:$full-display-content;
  position:$relative-position;
}
.teams-section-wrapper{
  text-align:$centered-position;
  margin:0 auto;
  position:$relative-position;
  width:$full-display-content;
  height:$full-display-content;
  display:block;
}
.teams-header-container{
  width:$full-display-content;
  height:28%;
  top:5%;
  position:$relative-position;
}
.teams-header-h1{
  color:#d7d7d7;
  text-transform: $uppercase-letter;
  font-family:$roboto-font;
  font-size: 15rem;
}
.teams-inner-heading-container{
  width:$full-display-content;
  height:10%;
  position:absolute;
  text-align:$centered-position;
  top:38%;
}
.teams-header-h2{
  font-size:2rem;
  font-family:$roboto-font;
  text-transform:$uppercase-letter;
  letter-spacing:5px;
}
.teams-title-container{
  width:$full-display-content;
  height:5%;
  position:$relative-position;
  text-align: $centered-position;
  top:2%;
}
.teams-title-text{
  font-size:1.3rem;
  font-family:$roboto-font;
  letter-spacing:2px;
  font-weight:300;
}
.teams-name-container{
  width:80%;
  margin:0 auto;
  background:#fff;
  bottom:3%;
  padding-top:10px;
  padding-bottom: 10px;
  position:$relative-position;
}
.teams-name{
  font-size:1.3rem;
  text-transform:$uppercase-letter;
  font-family:$roboto-font;
  color:#11749e;
  font-weight:500;
}
.teams-position-container{
  padding-top:10px;
  padding-left:25px;
  padding-right:25px;
  bottom:4%;
  background:#fff;
  position:$relative-position;
  margin:0 auto;
  width:80%;
}
.teams-position{
  text-transform:$uppercase-letter;
  color:#222;
  font-family: $roboto-font;
}